ul {
  list-style-type: none;
}

li a {
  color: white;
  text-decoration: none;
}

li {
  text-align: center;
}

body {
  background: white url("images/marveldc.jpg") no-repeat;
  background-size: 100%;
}
